body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #FF4D50;
  background-size: 80px 80px;
  background-image: -webkit-linear-gradient(0deg,rgba(0,0,0,0.1) 50%, transparent 50%),
  -webkit-linear-gradient(rgba(0,0,0,0.2) 50%, transparent 50%);
  transition: 1.5s;/*время перехода тела*/

}
#headerBlock{ /*шапка*/
  background: #FD77C2; 
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100%;
  animation-name: A1;
  animation-duration: 2s;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@keyframes A1 { /*анимация появления шапки*/
  0%{background: transparent;}
  100%{background: #FD77C2;}
}
.logoDay{
  position: relative;
  top: 15px;
  display: flex;
  font-weight: bold; /*толстый шрифт*/
  flex-flow: column; /*что это ?*/
    align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 60px;
  animation-name: At;
  animation-duration: 1.8s;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  user-select: none;
}
@keyframes At {  /* анимация текста */
  0%{
    color: transparent;
    top: -100px;
  }
  100%{
    color: #FFFFFF;
    top: 15px;
  }
}
.heart{
  position: relative;
  top: -100px;
  left: 200px;
  color: #FFFFFF;
  font-size: 60px;
  font-family: 'Sriracha', cursive;
  user-select: none;
  animation-duration: 2s;
}
footer {
  width: 100%;
  height: 100%;
  display: table;
  background: #FD77C2;
}


.Block2 {
  height: 30px;
  width: 95%;
  left: 2.5%;
  border-radius: 5px;
  position: absolute;
  top: 120px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #FD3BC2;
  animation-name: A2;
  animation-duration: 0.7s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-play-state: running;
  z-index: 1;
}

@keyframes A2 {
  0% {
    background-color: transparent; 
    height: 0px;
    width: 100%;
    border-radius: 0%;
  }
  100% {
   background-color: #FD3BC2; 
   height: 30px;
   width: 100%;
   border-radius: 3%
  }
}
.logoT{
    transition: 2s;
    transform: 2s;
}
.logoT1, .logoT2, .logoT3, .logoT4, .logoT5, .logoT6{
  position: absolute;
  height: 20px;

  top: 8px;
  width: 100%;
  font-weight: bold; 

  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 17px;
  box-sizing: border-box;
  user-select: none;
  transition: 2s;
  transform: 2s;
  animation-name: A3;
  font-family: 'Arimo', sans-serif;
  z-index: 1;
}
.logoT1{left: -43px;}
.logoT2{left: -22px;}
.logoT3{left:  -5px;}
.logoT4{left: 15px;}
.logoT5{left: 33px;}
.logoT6{left: 51px;}
@keyframes A3 {
  0% {color: transparent;}
  100% {color: #FFFFFF}
}
.material-icons{
    color: transparent;
    font-size: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
    transition: 2s;
    transform: 2s;
}
.a{
    position: absolute;
    top: 3px;
    right: 120px;
    height: 20px;
    width: 20px;
}
.his, .fac{
  background: #FF3864;
  position: absolute;
  top: 170px;
  text-decoration: none;
  height: 30px;
  width: 200px;
  animation-duration: 2s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.his{
    left: 50px; 
    animation-name: A4-1;
}
@keyframes A4-1 {
  0% {
    background-color: transparent; 
    left: -150px;
  }
  100% {
    background-color: #FF3864; 
    left: 50px;
  }
}
.fac{
    right: 50px;
    animation-name: A4-2;
}
@keyframes A4-2 {
  0% {
    background-color: transparent; 
    right: -150px;
  }
  100% {
    background-color: #FF3864; 
    right: 50px;
  }
}
.link{
    position: relative;
    top: -10px;
    color: #FFFFFF;
    text-align: center;
    animation-duration: 2s;
    font-family: 'Arimo', sans-serif;
    animation-name: A4-3;
}
@keyframes A4-3 {
  0% {color: transparent;}
  100% {color: #FFFFFF}
}


#bl1{
  background: #FF0000; 
  position: absolute;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 900px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sp1{
  background: #FF3333; 
  color: #000000;
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  width: 850px;
  border-radius: 15px;
  z-index: 1;
}
